@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1620627192929') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-weibiaoti-3:before {
  content: "\e601";
}

.icon-liwu:before {
  content: "\e61c";
}

.icon-gongju:before {
  content: "\e60c";
}

.icon-7tiantuihuanhuo:before {
  content: "\e61f";
}

